In [9]:
import pandas as pd
cols = [ 'name' , 'gender', 'birth']
years = range(1880, 2011)
pieces = []
for i in years:
    df = pd.read_table('yob%d.txt'%i, sep = ',', engine = 'python' , names = cols)
    df['year'] = i
    pieces.append(df)
    data = pd.concat(pieces, ignore_index = True)

In [10]:
data

              name gender  birth  year
0             Mary      F   7065  1880
1             Anna      F   2604  1880
2             Emma      F   2003  1880
3        Elizabeth      F   1939  1880
4           Minnie      F   1746  1880
5         Margaret      F   1578  1880
6              Ida      F   1472  1880
7            Alice      F   1414  1880
8           Bertha      F   1320  1880
9            Sarah      F   1288  1880
10           Annie      F   1258  1880
11           Clara      F   1226  1880
12            Ella      F   1156  1880
13        Florence      F   1063  1880
14            Cora      F   1045  1880
15          Martha      F   1040  1880
16           Laura      F   1012  1880
17          Nellie      F    995  1880
18           Grace      F    982  1880
19          Carrie      F    949  1880
20           Maude      F    858  1880
21           Mabel      F    808  1880
22          Bessie      F    794  1880
23          Jennie      F    793  1880
24        Gertrude      F    787  1880
25           Julia      F    783  1880
26          Hattie      F    769  1880
27           Edith      F    768  1880
28          Mattie      F    704  1880
29            Rose      F    700  1880
...            ...    ...    ...   ...
1690754    Zaviyon      M      5  2010
1690755   Zaybrien      M      5  2010
1690756   Zayshawn      M      5  2010
1690757     Zayyan      M      5  2010
1690758       Zeal      M      5  2010
1690759     Zealan      M      5  2010
1690760   Zecharia      M      5  2010
1690761   Zeferino      M      5  2010
1690762   Zekariah      M      5  2010
1690763       Zeki      M      5  2010
1690764     Zeriah      M      5  2010
1690765     Zeshan      M      5  2010
1690766     Zhyier      M      5  2010
1690767   Zildjian      M      5  2010
1690768       Zinn      M      5  2010
1690769     Zishan      M      5  2010
1690770      Ziven      M      5  2010
1690771      Zmari      M      5  2010
1690772      Zoren      M      5  2010
1690773     Zuhaib      M      5  2010
1690774     Zyeire      M      5  2010
1690775    Zygmunt      M      5  2010
1690776   Zykerion      M      5  2010
1690777      Zylar      M      5  2010
1690778      Zylin      M      5  2010
1690779    Zymaire      M      5  2010
1690780     Zyonne      M      5  2010
1690781  Zyquarius      M      5  2010
1690782      Zyran      M      5  2010
1690783      Zzyzx      M      5  2010

[1690784 rows x 4 columns]